 
}
header{
  background-color: 0F2A8B;
}
header a{
  border: 10px solid white;
  background-color: white;
  color: 0F2A8B;
  padding: 5px 0px 5px 0px;
  border-radius: 30px;
  text-decoration: none;
  
}
.Basket: hover{
  background-color: 0F2A8B;
  color: white;
  border: 10px solid white;
}
.Ab: hover{
  background-color: 0F2A8B;
  color: white;
  border: 10px solid white;
}
.Contact: hover{
  background-color: 0F2A8B;
  color: white;
  border: 10px solid white;
}
h1{
  color:  0F2A8B;
  text-align: center;
}
section{
justify-content: center;
}
div{
border: 10px dashed 687398;
color: white;
}
footer{
 background-color: skyblue;
}
footer a{
 background-color: skyblue;
 border: 20px solid white;
 color: white;
 border-radius: 30px;
 padding: 5px;
 margin: 10px;
}
